services:
  myleaf:
    image: souptikmajumdar98/myleaf:latest
    container_name: myleaf
    ports:
      - "3002:3002"
      - "1234:1234"
    volumes:
      - myleaf-data:/app/data
    environment:
      - NODE_ENV=production
      - ENABLE_COLLABORATION=true
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.myleaf.rule=Host(`myleaf-myleaf-ejfd59-269645-91-99-225-161.traefik.me`)"
      - "traefik.http.routers.myleaf.entrypoints=web"
      - "traefik.http.services.myleaf.loadbalancer.server.port=3002"
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true

volumes:
  myleaf-data:
    driver: local
